.header{
    padding: 10px;
}

body{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: beige;
    
}

img {
    height: 130px;
}

h2{
    margin-right: 65%;
    margin-left: 3%;
}

.medico, .farmacia, .movil, .luz, .facebook, .youtube {
    display: inline;
    margin-right: 20px;
    
}

a:link {
    text-decoration: none;
}

#directos, #redes{
    display: block;
    padding-bottom: 10px;
    padding-left: 25%;
    padding-bottom: 20px;
    padding-top: 10px;
}
.container-directo, .container-redes{
  background-color: #A3E4D7;
  margin-left: 60px;
  margin-right: 60px;
  margin-bottom: 40px;
  margin-top: 20px;
  padding-top: 7px;
  border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
  border: 0px solid #000000;
}

.atras {
  background-color: #FFFFFF;
  border: 1px solid #222222;
  border-radius: 8px;
  box-sizing: border-box;
  color: #222222;
  cursor: pointer;
  display: inline-block;
  font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,"Helvetica Neue",sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  margin: 0;
  outline: none;
  padding: 13px 23px;
  position: relative;
  text-align: center;
  text-decoration: none;
  touch-action: manipulation;
  transition: box-shadow .2s,-ms-transform .1s,-webkit-transform .1s,transform .1s;
  user-select: none;
  -webkit-user-select: none;
  width: auto;
}

.atras:focus-visible {
  box-shadow: #222222 0 0 0 2px, rgba(255, 255, 255, 0.8) 0 0 0 4px;
  transition: box-shadow .2s;
}

.atras:active {
  background-color: #F7F7F7;
  border-color: #000000;
  transform: scale(.96);
}

.atras:disabled {
  border-color: #DDDDDD;
  color: #DDDDDD;
  cursor: not-allowed;
  opacity: 1;
}
