.header{
    padding: 10px;
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

img {
    height: 130px;
}

h2{
    margin-left: 3%;
}

.medico, .farmacia, .movil, .luz, .facebook, .youtube, .añadir{
    display: inline;
    
}

a:link {
    text-decoration: none;
}

#directos, #redes{
    display: block;
    margin-bottom: 5%;
    margin-left: 25%;
}