.header{
    background-color: aqua;
    padding: 10px;
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.guardar, .buscar {
    display: inline-block;
    margin-top: 105px;
    margin-left: 20%;
}
