.header{
    background-color: #A3E4D7;
    padding: 10px;
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container-presentacion{
    display: inline-block;
    margin-right:30%;
    margin-top: 10px;
}

.container-title{
    display: inline-block;
    font-size: large;
}

.title{
    margin-bottom: 10px;
}

.container-item{
    background-color: #A3E4D7;
    margin-left: 40px;
    margin-right: 40px;
    padding-top: 3%;
    padding-bottom: 3%;
}

.logos{
    margin-top: 20px;
    margin-bottom: 20px;
}


#album, #notas, #recetas {
    display: inline;
    margin-right: 30px;
    margin-left: 30px;
    padding-left: 55px;
    padding-right: 55px;
}

#recetas :hover {
    transform: scale(1.5); 
}

#album :hover {
    transform: scale(1.5); 
}

#notas :hover {
    transform: scale(1.5); 
}

.acceso :hover {
    transform: scale(1.5);;
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -ms-transform: scale(1.5);
    -o-transform: scale(1.5);
}