#user{
    margin-top: 15%;


}

body{
    background-image: url("marco.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 30%;

}



head{
    margin-bottom: 30px;

}